:root{
  --color-main-background: #F9F8F5; 
  --color-input: #EAE9E8;
  --color-main: #333333;
  --color-button-hover: #FF6161;
  --color-button: #000;
  --color-timer-button: 255, 255, 255;
  --color-border: 59, 53, 88;
}
*{
  box-sizing: border-box;
  margin:0;
}
html{ 
  font-size: 10px;
}
body {
  margin: 0;
  font-family: "Roboto Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main-background) !important;
  font-optical-sizing: auto;
  color:var(--color-text);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  width: 1100px;
  max-width: 90%;
  margin: 8rem auto; 
}
.logo{
  font-size: 3.2rem;
  font-family: "Ultra", serif !important;
  font-weight: 400;
  font-style: normal;
  padding-left: 4rem;

}
.form{
  padding: 2rem;
  margin-right:4rem;
  margin-top:2rem;
  background-color: var( --color-main-background);
  border-radius: 4rem;
  height: 45rem;
  border: 1px dashed var(--color-main);
}
.form__input{
  background-color: var(--color-input);
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  margin-top: 0.75rem;
  height: 4rem;
  width: 82%;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem; 
}
.form__scroll{
  overflow-y: auto;
  max-height: 25rem;
}
.form__input::placeholder{
  padding-left:0.5rem;
}
.form__input:focus{
  outline:none;
}
.form__button{
  border:none;
  background-color: var(--color-main-background);
  font-size: 3.5rem;
  color: var(--color-text);
  margin-right: 1rem;
}
ul{
  padding-left: 1.5rem !important;
}
.list{
  list-style-type: none;
  font-size: 1.4rem ;
}
.list__edit:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-main);
  font-size: 1.4rem;
}
.list__button{
  border:none;
  background-color: var(--color-main-background);
  color:var(--color-main);
  font-size: 1.7rem;
}
.form__button:hover,
.list__button:hover{
  color: var(--color-button-hover)
}
.timer{
  margin-top: 8rem;
  height: 20rem;
  max-height: 80%;  
  border: 1px dashed var(--color-main);
  border-radius: 4rem;

}
.timer__text{
  font-size: 2.6rem;
  font-weight: 700;
  -webkit-text-stroke:1.5px;

}
.timer__input{
  outline:none;
  border:none;
  border-bottom: 1px solid var(--color-main-background);
  text-align: center;
  background-color: transparent;
  width:25%;
  color:var(--color-main);
  font-size: 3.2rem;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.timer__input::placeholder{
  color:var(--color-main-background);
}
.timer__start{
  width: auto;
  max-width:200px;
  padding: 1rem 1rem 1.75rem 2rem;
  background-color: var(--color-main-background);
}
.timer__button{
  border:none;
  background-color: var(--color-main);
  border-radius: 1rem;
  color:var(--color-main-background);
  font-size: 1.2rem;
  margin: 0 1rem 0 0; 
  padding: 0.5rem 2rem;
}
.timer__button:disabled{
  border:none;
  border-radius: 1rem;
  background-color: var(--color-button-hover);
  color:var(--color-main-background);
  opacity: 0.3;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
}
.timer__button:hover{
  color: var(--color-main-background);
  background-color: var(--color-button-hover);
}
.start{
  background-color: var(--color-button-hover);
}
.start:hover{
  background-color: var(--color-main);
}
.done{
  background-color: var(--color-main-background);
  height: 17rem;
  max-height: 80%;  
  border: 1px dashed var(--color-main);
  border-radius: 4rem;
}
.done__img{
  max-width:85%;
  z-index: 2;
  margin-top: -10rem;
  margin-left: 7rem;
}
.done__main-text{
  font-size: 3.8rem;
  color:var(--color-main);
  font-weight: 700;
}
.done__reg-text{
  font-size: 1.4rem;
  color: var(--color-main);
  font-weight: 700;
}


@media only screen and (max-width: 576px) {
  .form{
    margin-right:0rem;
  }

}

/* Small Screens (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .done__img{
    max-width:60%;
    margin-top: -14rem;
    margin-left: 25rem;
  }

}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .done__img{
    max-width:95%;
    margin-top: -8rem;
    margin-left: 4.5rem;
  }

}

/* Large Screens (Desktops) */
@media only screen and (min-width: 993px) and (max-width: 1439px) {
  .done{
    height: 18rem;
    max-height: 80%;  
  }
  .done__img{
    max-width:85%;
    margin-top: -10rem;
    margin-left: 7rem;
  }

}